.about-section {
    padding: 20px;
    background-color: #1f1f1f; 
    color: #fff;                
    margin-top: 60px;
    margin-left: -10vw;
    max-width: 800px;           
    margin-right: auto;         
    margin-left: 0vw;           
    border-radius: 10px;         
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}
